html, body {
    height: 100%;
    margin: 0;
    font-size: 18px;
    color: white;
  }
  
  #content {
    height: 100%;
    display: flex;
    flex-direction: column;    
    background-image: url("https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    height: 5rem;
    background-color: white;
  }
    .title {
        font-size: 3rem;
        color: black;
        padding-left: 1rem;
        display: flex;
        justify-content: flex-start;
        line-height: 5rem; /* center text vertically */
    }

.main-game {
    box-sizing: border-box;
    background-color: #fff;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
    width: 55rem;
    height: 25rem;
    margin-top: 0;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
}
    .p1Board, .p2Board {
        display: inline-grid;
        width: 20rem;
        height: 20rem;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        background-color: black;
    }
    .block-item {
        border: 1px solid white;
    }
